body{background-color: white; color:black; font-family: 'Do Hyeon', sans-serif; font-size: 23px; padding:0; margin: 0;}
header{width:100%; position: relative; top:0;}
.headerText{position: relative; text-align: center; height: 70px; margin: auto; color: white; line-height: 70px; font-weight: bold; }
.header1{width: 100%; height: 70px;  top: 0; background-color: #000000; padding:0; margin:0; vertical-align: middle;}
.nav{display: inline; width:100%;}
.notselected{color: #000000; border-bottom: 5px solid black;}
.selected{color: #FF0000; width:32%; height: 50px; border: 2px solid red;}
button{ font-family: 'Do Hyeon', sans-serif; font-size: 15px; width:32%; height: 50px; border:none; padding:0; margin:0; background-color: white;font-weight: bold;}
#urlcopy{
  width: 32px;
}
input {
  width:50%; height: 30px;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	border-radius:6px;
	border:1px solid #84bbf3;
	font-weight:bold;
	font-size:15px;
	padding:6px 24px;
}
img{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 90%;
}
div{}
.post{
  text-align: center;
}
p{font-family: 'Do Hyeon', sans-serif}
.main-text{
  position: relative; text-align: center; margin: auto;
}
a{text-decoration: none;}
.money {TEXT-ALIGN: right};

/* Result Table CSS */
.header {
  background-color: #327a81;
  color: white;
  font-size: 0.8em;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
}

/* img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
} */

.table-users {
  border: 1px solid #327a81;
  border-radius: 10px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
  max-width: calc(100% - 2em);
  margin: 1em auto;
  overflow: hidden;
  width: 800px;
  font-size: 0.8em;
}

table {
  width: 100%;
}
table td, table th {
  color: #2b686e;
  padding: 10px;
}
table td {
  text-align: center;
  vertical-align: middle;
  font-size: 0.8em;
}
table td:last-child {
  font-size: 0.8em;
  line-height: 1.4;
  text-align: center;
}
table th {
  background-color: #daeff1;
  font-weight: 300;
}
table tr:nth-child(2n) {
  background-color: white;
}
table tr:nth-child(2n+1) {
  background-color: #edf7f8;
}

.Bt1 {
  margin: 0;
  border: 0;
  position: relative;
  text-align: center;
  /* box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-user-select: none; */
  cursor: default;
  font-size: 18px;
  background-color: #ffffff;
  opacity: 1.0;
  font-family: 'Do Hyeon', sans-serif;
}
.Bt2 {
  margin: 0;
  border: 0;
  position: relative;
  text-align: center;
  /* box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-user-select: none; */
  cursor: default;
  font-size: 15px;
  opacity: 1.0;
  font-family: 'Do Hyeon', sans-serif;
}
.Bt3 {
  width: 5px;
  margin: 0;
  border: 0;
  position: relative;
  text-align: center;
  /* box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-user-select: none; */
  cursor: default;
  font-size: 18px;
  background-color: #ffffff;
  opacity: 1.0;
  font-family: 'Do Hyeon', sans-serif;
}
.backbutten {
  /* border:1px solid gray; */
  border-radius:3px;
  padding:0px 2px 1px 2px;
  color:white;
  text-align: center;
}
label { width: 20px;}
#link {
  font-weight:normal;
  color:gray;
  text-decoration:none;
  font-size:20px;
  text-align: center;
}

.myButton {
  width:20%; height: 40px;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.myButton:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.myButton:active {
	position:relative;
	top:1px;
}
